
*.properties
*.properties
*.properties
*.properties
*.properties
zipcloud-parent/zipcloud-core/target/classes/META-INF/maven/edu.zipcloud/zipcloud-core/pom.properties
cloudstreetmarket-parent/cloudstreetmarket-webapp/target/m2e-wtp/web-resources/META-INF/maven/edu.zipcloud.cloudstreetmarket/cloudstreetmarket-webapp/pom.properties
cloudstreetmarket-parent/cloudstreetmarket-core/target/classes/META-INF/maven/edu.zipcloud.cloudstreetmarket/cloudstreetmarket-core/pom.properties
cloudstreetmarket-parent/cloudstreetmarket-api/target/m2e-wtp/web-resources/META-INF/maven/edu.zipcloud.cloudstreetmarket/cloudstreetmarket-api/pom.properties
